<div ng-controller='topicsController'>
<h3>Join the Loser Club, <span ng-bind='currentUser.name'></span> ! We wear orange on Fridays 'cause we dumb...</h3>
<input type="text" ng-model="filter" placeholder="Filter">

<table class="table table-bordered table-striped">
		<thead>
			<th class='info'>Category</th>
			<th class='info'>Topic</th>
			<th class='info'>Username</th>
		<!-- 	<th class='info'>Posts</th> -->
		</thead>
		<tbody>
			<tr class='danger' ng-repeat="topic in topics | filter:filter">
				<td>{{topic.Category}}</td>
				<td><a href="#/topic/{{topic._id}}">{{topic.topic_title}}</a></td>
				<td><a href="#/user/{{topic._user.name}}">{{topic._user.name}}</td>
			</tr>
				<!-- <td></td>
				<td></td> -->
			</tr>
		</tbody>
	</table>

    <form>
		<p>Topic: <input type="text" ng-model='new_topic.topic_title'></p>
		<p>Description: <textarea ng-model='new_topic.description'></textarea></p>
		<p>Category: 
			<select ng-model='new_topic.Category'>
				<option value="Deadpool Figurines">Deadpool Figurines</option>
				<option value="Cucumbers">Cucumbers</option>
				<option value="Ghosts">Ghosts</option>
				<option value="Cute Cats">Cute Cats</option>
				<option value="Pumpkins">Pumpkins</option>
		<!-- <select ng-model='new_topic.Category' ng-options="topic.Category as topic.Category for topic in topics"> -->
			</select></p>
		<button ng-click="addTopic()">Press Me!</button>
	</form>
</div>